<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>App Component</h3>
            <hr><hr><hr>
            <!-- <app-alert></app-alert>
            <hr><hr><hr>
            <h3>App Component : alertas individuais</h3>
            <hr><hr><hr>
            <app-warning-alert></app-warning-alert>
            <hr>
            <app-success-alert></app-success-alert>
            <hr><hr><hr> -->
            <app-servers></app-servers>
        </div>
    </div>
</div>